.form-inline {
    width: 300px;
    float: right;
    padding: 10px;
}

.username {
    color: #e2e5de;
    margin-right: 0px;
    width: 7em;
}

.password {
    color: #e2e5de;
    width: 7em;
}

.jumbotron {
    background-color: #551924;
    color: #e2e5de;
    text-align: center;
    height: 200px;
}

.container-fluid {
    padding: 10px;
    margin: 20px;
}
.nav {
    margin-bottom: 0px;
}


.p {
    color: #e2e5de;
}

.btn-primary {
    background-color: #e2e5de; 
    border: none;
    color: #551924;  
    
}

.btn-primary:hover {
    animation-name: background-color;
    background-color: #551924;
    color: #e2e5de;
}

#login-button {
    float: right; 
}

#login-button:hover {
    animation-name: background-color;
    background-color: #1d1718;
    color: #e2e5de;
    
}

.form-control {
    margin-right: 10px;

}
.disclaimer {
    font-size: 12px;
    color: slategray;
}

.results-here {
    background-color: #cfd0cede;
    color: #551924;
}