#sign-in-div {
    text-align: center;
    margin: auto;
    margin-top: 75px;
    width: 25%;
}

#sign-in-facebook {
    margin-bottom: 20px;
}

#create-user-div {
    text-align: center;
    margin: auto;
    margin-top: 75px;
    width: 25%;
}

#create-user {
    margin-bottom: 20px;
}

#username {
    color: #e2e5de;
    display: block;
    margin-right: 0px;
}

#password {
    display: block;
    color: #e2e5de;
}

.jumbotron {
    background-color: #551924;
    color: #e2e5de;
    text-align: center;
    height: 200px;
}

#logout {
    position: absolute;
    top: 50px;
    right: 50px;
}

.container-fluid {
    padding: 10px;
    margin: 20px;
}

.nav {
    margin-bottom: 0px;
}


.p {
    color: #e2e5de;
}

.btn-primary {
    background-color: #e2e5de; 
    border: none;
    color: #551924;  
    
}

.btn-primary:hover {
    animation-name: background-color;
    background-color: #551924;
    color: #e2e5de;
}

#login-button {
    float: right; 
}

#login-button:hover {
    animation-name: background-color;
    background-color: #1d1718;
    color: #e2e5de;
    
}

.form-control {
    margin-right: 10px;

}

.disclaimer {
    font-size: 12px;
    color: slategray;
}

.results-here {
    background-color: #cfd0cede;
    color: #551924;
}

.bottleOWine > p{
    padding: 2px;
    display: inline;
}

